<a href="https://colab.research.google.com/github/yongjulee0213/yongjuLee/blob/main/wine%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%85%8B%EC%9C%BC%EB%A1%9C_%EC%99%80%EC%9D%B8%EC%9D%98_quality%EC%98%88%EC%B8%A1%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [308]:
import pandas as pd
wine=pd.read_csv('/content/winequality-red.csv')
wine_test=pd.read_csv('/content/winequality-red_test.csv')

In [311]:
wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [312]:
wine_test.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.3,0.670,0.02,2.20,0.072,31,92,0.99566,3.32,0.68,11.066667
1,7.2,0.370,0.32,2.00,0.062,15,28,0.99470,3.23,0.73,11.300000
2,7.4,0.785,0.19,5.20,0.094,19,98,0.99713,3.16,0.52,9.566667
3,6.9,0.630,0.02,1.90,0.078,18,30,0.99712,3.40,0.75,9.800000
4,6.9,0.580,0.20,1.75,0.058,8,22,0.99322,3.38,0.49,11.700000

In [313]:
wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1439 entries, 0 to 1438
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1439 non-null   float64
 1   volatile acidity      1439 non-null   float64
 2   citric acid           1439 non-null   float64
 3   residual sugar        1439 non-null   float64
 4   chlorides             1439 non-null   float64
 5   free sulfur dioxide   1439 non-null   float64
 6   total sulfur dioxide  1439 non-null   float64
 7   density               1439 non-null   float64
 8   pH                    1439 non-null   float64
 9   sulphates             1439 non-null   float64
 10  alcohol               1439 non-null   float64
 11  quality               1439 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 135.0 KB

In [314]:
bins=(0,5,10)#5를기준으로 작으면, bad, 크면 good
group_names=['bad', 'good']#정답으로 나올 것
wine['quality']=pd.cut(wine['quality'],bins=bins, labels=group_names)#quality항목 추가

In [315]:
wine.head()#바뀐 quality 항목이 추가됨

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,bad
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,bad
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,bad
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,good
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,bad

In [316]:
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

label_quality=LabelEncoder()

In [317]:
wine['quality']=label_quality.fit_transform(wine['quality'])#bad :0, good:1

In [318]:
wine['quality'].value_counts()#전체quality 데이터수

1    769
0    670
Name: quality, dtype: int64

In [319]:
#set parameter
X=wine.drop('quality', axis=1)
Y=wine['quality']

In [520]:
#데이터 나누기 cv
X_train, X_val, Y_train, Y_val=train_test_split(X, Y, test_size=0.1111, random_state=42, shuffle=False)

In [521]:
X_train

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
...,...,...,...,...,...,...,...,...,...,...,...
1274,7.8,0.580,0.13,2.1,0.102,17.0,36.0,0.99440,3.24,0.53,11.2
1275,8.0,0.715,0.22,2.3,0.075,13.0,81.0,0.99688,3.24,0.54,9.5
1276,8.5,0.400,0.40,6.3,0.050,3.0,10.0,0.99566,3.28,0.56,12.0
1277,7.0,0.690,0.00,1.9,0.114,3.0,10.0,0.99636,3.35,0.60,9.7
1278,8.0,0.715,0.22,2.3,0.075,13.0,81.0,0.99688,3.24,0.54,9.5

In [522]:
X_train.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
count,1279.000000,1279.000000,1279.000000,1279.000000,1279.000000,1279.00000,1279.000000,1279.000000,1279.000000,1279.000000,1279.000000
mean,8.576935,0.519156,0.289218,2.562002,0.088859,15.45817,46.824081,0.996972,3.299765,0.663784,10.399531
std,1.769355,0.177958,0.196498,1.311930,0.047909,10.31869,33.589059,0.001893,0.155144,0.174078,1.095966
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.00000,6.000000,0.990070,2.740000,0.330000,8.400000
25%,7.300000,0.390000,0.120000,1.900000,0.071000,7.00000,21.000000,0.995900,3.200000,0.560000,9.500000
50%,8.200000,0.500000,0.280000,2.200000,0.080000,13.00000,38.000000,0.997000,3.300000,0.620000,10.100000
75%,9.600000,0.630000,0.450000,2.600000,0.092000,21.00000,63.000000,0.998030,3.395000,0.730000,11.100000
max,15.900000,1.330000,1.000000,15.500000,0.611000,72.00000,289.000000,1.003200,3.900000,2.000000,14.900000

In [523]:
def check_missing_col(dataframe):
    missing_col = []
    for col in dataframe.columns:
        missing_values = sum(dataframe[col].isna())
        is_missing = True if missing_values >= 1 else False
        if is_missing:
            print(f'결측치가 있는 컬럼은: {col} 입니다')
            print(f'해당 컬럼에 총 {missing_values} 개의 결측치가 존재합니다.')
            missing_col.append([col, dataframe[col].dtype])
    if missing_col == []:
        print('결측치가 존재하지 않습니다')
    return missing_col

missing_col = check_missing_col(X_train)
missing_col = check_missing_col(X_val)

결측치가 존재하지 않습니다
결측치가 존재하지 않습니다

In [524]:
#features의 값 0~1사이의 값으로 만들어주기
#min-max정규화 : 0~1 사이의 값으로 변환
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
X_train[:]=scaler.fit_transform(X_train[:])
X_val[:]=scaler.fit_transform(X_val[:])
X_train.head()
X_val.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
1279,0.727273,0.098592,0.573529,0.035211,0.056150,0.000000,0.014925,0.245331,0.216216,0.208333,0.666667
1280,0.318182,0.211268,0.294118,0.049296,0.096257,0.480769,0.350746,0.313243,0.423423,0.281250,0.422222
1281,0.318182,0.211268,0.294118,0.049296,0.096257,0.480769,0.350746,0.313243,0.423423,0.281250,0.422222
1282,0.439394,0.426056,0.000000,0.056338,0.114973,0.115385,0.111940,0.363328,0.387387,0.322917,0.533333
1283,0.560606,0.330986,0.411765,0.105634,0.147059,0.269231,0.462687,0.460951,0.324324,0.270833,0.377778

In [525]:
X_train.describe()#0~1사이의 값인지 확인
X_val.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
count,160.000000,160.000000,160.000000,160.000000,160.000000,160.000000,160.000000,160.000000,160.000000,160.000000,160.000000
mean,0.395170,0.285409,0.284835,0.083165,0.128342,0.256250,0.306763,0.341548,0.382038,0.261523,0.431204
std,0.184506,0.130641,0.234713,0.118865,0.143455,0.213607,0.226653,0.134974,0.136805,0.187739,0.209490
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.287879,0.211268,0.029412,0.040493,0.074866,0.096154,0.134328,0.262946,0.315315,0.145833,0.288889
50%,0.378788,0.288732,0.308824,0.056338,0.098930,0.211538,0.235075,0.337012,0.373874,0.218750,0.377778
75%,0.454545,0.341549,0.444853,0.077465,0.123663,0.346154,0.447761,0.395586,0.425676,0.312500,0.555556
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [542]:
X_train.shape[0], X_train.shape[1]

(1279, 11)

In [543]:
X_val.shape[0],X_val.shape[1]

(160, 11)

In [527]:
Y_train

0       0
1       0
2       0
3       1
4       0
       ..
1274    1
1275    1
1276    0
1277    1
1278    1
Name: quality, Length: 1279, dtype: int64

In [528]:
Y_val

1279    1
1280    1
1281    1
1282    1
1283    1
       ..
1434    1
1435    1
1436    0
1437    0
1438    0
Name: quality, Length: 160, dtype: int64

In [529]:
from autograd import grad
from autograd import numpy

In [530]:
#변수 크기 확인
X_train.shape[0], X_train.shape[1] #(1295, 11)
Y_train.shape#(1295,)

(1279,)

In [531]:
class LogisticRegression:
  def sigmoid(self,z):#sigmoid 1/(1+exp(-z))
    return 1/(1+numpy.exp(-z))

  def loss(self, thetas, X, Y):#crossentropy function 평균(ylog(y')+(1-y)log(1-y'))
    #y_hat=h(x)=g(z)
    z=numpy.dot(X, thetas)
    return numpy.mean(Y*numpy.log(self.sigmoid(z))+(1-Y)*numpy.log(1-self.sigmoid(z)))

  def train(self, X, Y,lr=0.01, max_iter=300):
    loss=[]
    thetas=numpy.random.rand(X_train.shape[1])#랜덤으로 쎄타설정
    m=X_train.shape[0]

    for epoch in range(max_iter):#반복하면서 쎼타 업데이트 loss저장
      y_pred=self.sigmoid(numpy.dot(X, thetas))#시그모이드에 넣으면 예측값구하는거
      thetas=thetas-(lr*numpy.dot(numpy.transpose(X), y_pred-Y)/m)#쎄타업데이트!!!
      loss.append(self.loss(thetas, X, Y))#loss 구해서 저장해놓기
    #이걸해야predict에서 구할수있음
    self.thetas=thetas
    self.loss=loss

  def predict(self, X):#예측값
    z=numpy.dot(X, self.thetas)
    return self.sigmoid(z)

In [532]:
model1=LogisticRegression()
model1.train(X_train, Y_train)#훈련

In [533]:
predict=model1.predict(X_val)

In [534]:
predict#quality 예측값 0~1사이의 값임.

array([0.80703392, 0.81047176, 0.81047176, 0.75492683, 0.83648134,
       0.78855183, 0.86716717, 0.85045579, 0.7700233 , 0.88132367,
       0.88132367, 0.73845566, 0.82553134, 0.80927564, 0.67960007,
       0.82553134, 0.79210134, 0.79210134, 0.8016456 , 0.74559637,
       0.73252457, 0.79940571, 0.83785373, 0.81263546, 0.87486848,
       0.76387527, 0.81912983, 0.86515209, 0.77001981, 0.86515209,
       0.75553706, 0.81912983, 0.81042055, 0.78154998, 0.80256553,
       0.81018654, 0.81948198, 0.80548969, 0.8741341 , 0.81948198,
       0.92819617, 0.85925926, 0.80147438, 0.81281068, 0.85529319,
       0.78438156, 0.78438156, 0.78438156, 0.78438156, 0.70641049,
       0.81784643, 0.81784643, 0.807796  , 0.70024445, 0.7752187 ,
       0.72014779, 0.81478459, 0.65880168, 0.65880168, 0.65880168,
       0.74442041, 0.74442041, 0.74442041, 0.74816393, 0.74442041,
       0.84622619, 0.76267979, 0.72431647, 0.66126648, 0.66126648,
       0.76788157, 0.84229563, 0.77306722, 0.7679112 , 0.7679112 ,
       0.71110532, 0.73524488, 0.72870996, 0.85362427, 0.86994869,
       0.81935944, 0.83143451, 0.79110498, 0.81935944, 0.78861807,
       0.78598248, 0.74857552, 0.73248128, 0.86939444, 0.81162904,
       0.65842106, 0.91154933, 0.86835502, 0.91154933, 0.83128397,
       0.77027378, 0.81692275, 0.73314166, 0.86867089, 0.73069866,
       0.7620294 , 0.7620294 , 0.68367521, 0.83561115, 0.83561115,
       0.78587277, 0.81054759, 0.71267582, 0.71267582, 0.80972219,
       0.80122481, 0.7948234 , 0.7986548 , 0.65896524, 0.80388641,
       0.76943434, 0.71855123, 0.71951891, 0.82504777, 0.76088622,
       0.75750308, 0.86432388, 0.86432388, 0.84274073, 0.7698462 ,
       0.8393223 , 0.83219384, 0.8266119 , 0.81298541, 0.89194956,
       0.81298541, 0.74214516, 0.79966277, 0.8266119 , 0.85282766,
       0.8219676 , 0.69289908, 0.8219676 , 0.85394728, 0.67004791,
       0.85321869, 0.67004791, 0.7790454 , 0.83466236, 0.80106021,
       0.7760597 , 0.7760597 , 0.87473255, 0.80067058, 0.80191931,
       0.88547642, 0.79679583, 0.80416351, 0.73679868, 0.74173809,
       0.93454795, 0.93454795, 0.86160507, 0.81797249, 0.67255674])

In [535]:
#predict가 0.5이상이면, 1good으로 미만이면 0으로 보내자.

In [536]:
numpy.sum(predict)/len(predict)#평균구하기
#평균보다 낮으면 bad, 높으면 good

0.7928001027939526

In [537]:
for i in range(len(predict)):
  if predict[i]<numpy.sum(predict)/len(predict):
    predict[i]=0
  else:
    predict[i]=1

In [538]:
predict

array([1., 1., 1., 0., 1., 0., 1., 1., 0., 1., 1., 0., 1., 1., 0., 1., 1.,
       1., 1., 0., 0., 1., 1., 1., 1., 0., 1., 1., 0., 1., 0., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 0., 1.,
       1., 1., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 1., 1., 1., 0.,
       0., 0., 1., 1., 1., 1., 1., 0., 0., 0., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 0., 1., 1., 0., 1., 1., 1., 1., 1., 1., 0., 1., 0., 1., 1.,
       0., 1., 1., 1., 1., 0., 0., 1., 1., 1., 1., 0., 1., 1., 0., 0., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       0., 1., 1., 0., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       0., 1., 1., 1., 1., 1., 0.])

In [539]:
len(predict)

160

In [541]:
with open("result.txt",'w') as fd:
  fd.write(f"ID,quality\n")
  for i in range(0,len(predict)):
    fd.write(f"{i+1},{int(predict[i])}\n")